.learnButton {
    background-color: rgb(194, 189, 122);
}
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.dick {
    font-size: 76px;   
    background-color: rgb(47, 0, 255);
    color: red;
} 
.knowWord {
    color: rgb(0, 0, 0);
}